.content {
  padding: 30px 0;
  background: white;

  h1 {
    color: #7c25f8;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
  }
}